<div class="row equal-height" id="grid_view">
  <% if @products.empty? %>
    <div class="col-md-8 col-md-offset-2">
      <div class="products-not-found">
        <h3>商品が見つかりませんでした</h3>
      </div>
    </div>
  <% end %>
  <% @products.each_with_index do |product, i| %>
    <div class="col-sm-4 col-xs-12">
      <div class="productBox">
        <div class="productImage clearfix">
          <% if params[:option_type] == "color" %>
            <%= image_tag(@variants[i].display_image.attachment.url, alt: "products-img") %>
          <% else %>
            <%= image_tag(product.display_image.attachment.url, alt: "products-img") %>
          <% end %>
          <div class="productMasking">
            <ul class="list-inline btn-group" role="group">
              <li><a data-toggle="modal" href=".login-modal" class="btn btn-default"><i class="fa fa-heart"></i></a></li>
              <li><a href="cart_page.html" class="btn btn-default"><i class="fa fa-shopping-cart"></i></a></li>
              <li><a class="btn btn-default" data-toggle="modal" href=".quick-view" ><i class="fa fa-eye"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="productCaption clearfix">
          <%= link_to potepan_product_path(product.id) do %>
            <h5><%= product.name %></h5>
          <% end %>
          <h3><%= product.display_price %></h3>
        </div>
      </div>
    </div>
  <% end %>
</div>
