<%= render "banner" %>

<!-- MAIN CONTENT SECTION -->
<section class="mainContent clearfix">
  <div class="container">
    <%= render "popular_categories" %>
    <%= render "new_arrival_products" %>
    <%= render "blog_articles" %>
  </div>
</section>

<%= render "shared/light_section_bottom" %>
