<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= csrf_meta_tags %>
    <%= render "layouts/head" %>
    <%= render "layouts/shim" %>
  </head>

  <body>
    <div class="main-wrapper">
      <%= render "layouts/header" %>
      <%= yield %>
      <%= render "layouts/footer" %>
      <%= render "layouts/copy_right" %>
    </div>
    <%= render "layouts/modals" %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
